# Ignore the following useful file
QuickSort.py
.gitignore
**/AdditionalSet/

# Ignore testing stuff
test?.py

# Ignore tested output files
output?.py

# Ignore all other files in stuff folder
stuff
__pychache__/
.idea/